body{
	margin: 3%;
}

.shoppingList {
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5px;
	width: 65%;
	text-align: center;
}

h1,h3{
	text-align: center;
	font-family: comic sans ms;
}

h1{
	font-size: 40px;
}

h3{
	font-size: 20px;
}

#itemInput{
	width: 65%;
	height: 20%;
	position: relative;
	top: -15px;
	margin: 5%;
	font-family: comic sans ms;
}

#addItem{
	/*background-image: url('../images/add_to_cart.png');
	width: 50px;
	height: 50px;*/
}

#item{
	border: 1px solid black;
	border-radius: 5px;
	margin: 1%;
	padding: 1%;
	width: 50%;
	height: 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: -12px;
	font-family: comic sans ms;
}

.itemUpdate, .itemComplete, .itemDelete, .updateValidate, .updateCancel{
	/*border: 1px solid black;*/
	border-radius: 5px;
	width: 2%;
	height: 20px;
	margin-left: 2%;
	padding: 1%;
	background-repeat: no-repeat;
	display: inline-block;	
}

.itemUpdate{
	background-image: url('../images/edit.png');
}

.itemComplete{
	background-image: url('../images/done.png');	
}

.itemDelete{
	background-image: url('../images/delete.png');
}

.markComplete{
	text-decoration: line-through;
}

.updateValidate{
	background-image: url('../images/update.png');
}

.updateCancel{
	background-image: url('../images/cancel.png');
}